<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

<section class="section">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Articles</h5>
          <a href="/admin/articles/add" class="btn btn-sm btn-success mb-3">
            <i class="bi bi-file-earmark-text"></i>
            Add Articles
          </a>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date</th>
                <th>Content</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= data[i].title %>
                  </td>
                  <td>
                    <% const options={weekday: 'long' , day: 'numeric' , month: 'long' , year: 'numeric' } %>
                      <%= data[i].updatedAt.toLocaleDateString('id-ID', options) %>
                  </td>
                  <td>
                    <%= data[i].content.slice(0, 70) %>...
                  </td>
                  <td><a href="/admin/articles/show/<%= data[i].id %>">Show</a></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

  $(document).ready(function () {
    $('#myTable').DataTable()
  })

</script>