<section class="bg-white rounded shadow-sm">

  <div class="d-flex gap-2 px-4 pt-4 pb-2">
    <div class="">
      <h4 class="fw-bold">
        <%= data.title %>
      </h4>
    </div>
    <div class="d-flex gap-2 ms-auto">
      <button id="deleteBtn" class="btn btn-danger btn-sm">
        <i class="bi bi-trash"></i>
        Delete
      </button>
      <a href="/admin/articles/edit/<%= data.id %>" class="btn btn-warning btn-sm">
        <div class="h-100 gap-1 d-flex align-items-center">
          <i class="bi bi-pencil-square"></i>
          Edit
        </div>
      </a>
    </div>
  </div>

  <div class="px-4">
    <img src="<%= data.img_url %>" alt="Article Image" width="300">
    <p class="my-3 text-muted">
      <% const options={weekday: 'long' , day: 'numeric' , month: 'long' , year: 'numeric' } %>
        <%= data.updatedAt.toLocaleDateString('id-ID', options) %>
    </p>
  </div>

  <div class="p-4">
    <%- data.content %>
  </div>

</section>

<script>
  $('#deleteBtn').on('click', () => {
    swal({
      title: "Are you sure?",
      text: '<%= data.title %> will be deleted',
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((confirm) => {
        if (confirm) {
          $.ajax({
            url: 'http://localhost:3000/admin/articles/delete/<%= data.id %>',
            type: 'DELETE',
            success: function (result) {
              swal({
                title: 'Success!',
                text: 'Article Deleted',
                icon: 'success',
              }).then((result) => {
                window.location.href = '/admin/articles'
              })
            },
            error: function (err) {
              swal({
                title: 'Error!',
                text: 'An error occured',
                icon: 'error'
              })
            }
          })
        }
      })

  })
</script>