<%- include('partials/header') -%>
  <%- include('partials/navigation', {sub, title}) %>
    <main id="main" class="main">
      <%- include('partials/pageTitle', {title, sub, detail}) %>
        <%- include(`pages/${page}`, {detail}) %>
    </main>
    <%- include('partials/footer') %>