<div class="pagetitle">
  <h1>
    <%= title %>
  </h1>
  <nav>
    <ol class="breadcrumb">

      <% if (sub==='' || sub==='Manage' || sub==='QR' ) { %>
        <li class="breadcrumb-item"><a>Home</a></li>
        <% }else{ %>
          <li class="breadcrumb-item"><a>Other</a></li>
          <% } %>

            <% if (sub==='Manage' ) { %>
              <li class="breadcrumb-item">Manage</li>
              <% } %>

                <li class="breadcrumb-item active">
                  <% if(page==='users' ){ %>
                    <a href="/admin/users">
                      <% }else if(page==='courses' ){ %>
                        <a href="/admin/courses">
                          <% }else if(page==='events' ){ %>
                            <a href="/admin/events">
                              <% }else if(page==='articles' ){ %>
                                <a href="/admin/articles">
                                  <% }else if(page==='coupons' ){ %>
                                    <a href="/admin/coupons">
                                      <% }else{ %>
                                        <a href="/admin/<%= page %>">
                                          <% } %>
                                            <%= title %>
                                        </a>
                </li>

                <% if (sub_page==='show' ) { %>
                  <li class="breadcrumb-item">Show</li>
                  <% } %>

                    <% if (sub_page==='add' ) { %>
                      <li class="breadcrumb-item"><a href="/admin/<%= page %>/add">Add</a></li>
                      <% } %>

                        <% if (sub_page==='edit' ) { %>
                          <li class="breadcrumb-item"><a href="/admin/<%= page %>/edit">Edit</a></li>
                          <% } %>

                            <% if (detail) { %>
                              <li class="breadcrumb-item">
                                <%= detail %>
                              </li>
                              <% } %>
    </ol>
  </nav>
</div>