<section class="section">

  <!-- Add Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="form" action="/admin/users" method="post">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" name="full_name" class="form-control" placeholder="John Doe" autocomplete="off"
                required>
              <label>Full Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control" placeholder="contoh@example.com" autocomplete="off"
                required>
              <label>Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control" placeholder="password" required>
              <label>Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="phone_number" class="form-control" placeholder="081" autocomplete="off">
              <label>Phone Number</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="address" class="form-control" placeholder="Address" autocomplete="off">
              <label>Address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" name="birth_date" class="form-control" placeholder="Birth Date" autocomplete="off">
              <label>Birth Date</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input name="verified" class="form-check-input" type="checkbox" id="inlineCheckbox1">
              <label class="form-check-label" for="inlineCheckbox1">Verified?</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-md btn-success">Save</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- End Add Modal -->

  <!-- Edit Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="formEdit" action="/admin/users/edit/">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input name="full_name" type="text" class="form-control" placeholder="Name" autocomplete="off" required>
              <label>Full Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control" placeholder="contoh@example.com" autocomplete="off"
                required>
              <label>Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="phone_number" class="form-control" placeholder="081" autocomplete="off">
              <label>Phone Number</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="address" class="form-control" placeholder="Address" autocomplete="off">
              <label>Address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" name="birth_date" class="form-control" placeholder="Birth Date" autocomplete="off">
              <label>Birth Date</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input id="checkVerified" name="verified" class="form-check-input" type="checkbox">
              <label class="form-check-label" for="checkVerified">Verified?</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-md btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Edit Modal -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage User</h5>
          <button type="button" class="btn btn-sm btn-success mb-3" data-bs-toggle="modal" data-bs-target="#formModal">
            <i class="bi bi-person-fill-add"></i>
            Add User
          </button>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Verified</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= data[i].full_name %>
                  </td>
                  <td>
                    <%= data[i].email %>
                  </td>
                  <td>
                    <% if (data[i].verified===false) { %>
                      <span class="text-danger">No</span>
                      <% } else { %>
                        <span class="text-success">Yes</span>
                        <% } %>
                  </td>
                  <td>
                    <div class="d-flex gap-2">
                      <a style="cursor: pointer;" class="text-primary" href="/admin/users/show/<%= data[i].id %>"
                        data-bs-toggle="tooltip" data-bs-title="Show">
                        <i class="bi bi-info-circle-fill fs-5"></i>
                      </a>
                      <a style="cursor: pointer;" class="text-warning editBtn" data-bs-toggle="tooltip"
                        data-bs-title="Update" data-user="<%= JSON.stringify(data[i]) %>">
                        <i data-bs-toggle="modal" data-bs-target="#updateModal" class="bi bi-pencil-fill fs-5"></i>
                      </a>
                      <a style="cursor: pointer;" class="text-danger deleteBtn" data-bs-toggle="tooltip"
                        data-bs-title="Delete" data-user="<%= JSON.stringify(data[i]) %>">
                        <i class="bi bi-trash-fill fs-5"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  $('#form').submit(function (e) {
    e.preventDefault()
    $('button[type="submit"]').prop('disabled', true)
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: $(this).serialize(),
      success: function (response) {
        swal({
          title: 'Success!',
          text: 'User Added',
          icon: 'success',
        }).then((result) => {
          window.location.href = '/admin/users'
        })
      },
      error: function (err) {
        swal({
          title: 'Error!',
          text: 'An error occured',
          icon: 'error'
        })
      }
    })
    $('button[type="submit"]').prop('disabled', false)
  })

  $('.deleteBtn').on('click', function () {
    const data = $(this).data('user')
    swal({
      title: "Are you sure?",
      text: `${data.full_name} will be deleted`, icon: "warning", buttons: true, dangerMode: true,
    }).then((confirm) => {
      if (confirm) {
        $.ajax({
          url: `http://localhost:3000/admin/users/delete/${data.id}`,
          type: 'DELETE',
          success: function (result) {
            swal({
              title: 'Success!',
              text: 'User Deleted',
              icon: 'success',
            }).then((result) => {
              window.location.href = '/admin/users'
            })
          },
          error: function (err) {
            swal({
              title: 'Error!',
              text: 'An error occured',
              icon: 'error'
            })
          }
        })
      }
    })
  })

  $('.editBtn').on('click', function () {
    $('.formEdit').off('submit')
    const data = $(this).data('user')

    $('.formEdit input[name="full_name"]').val(data.full_name)
    $('.formEdit input[name="email"]').val(data.email)
    $('.formEdit input[name="phone_number"]').val(data.phone_number)
    $('.formEdit input[name="address"]').val(data.address)
    $('.formEdit input[name="birth_date"]').val(new Date(data.birth_date).toISOString().substr(0, 10))
    if (data.verified) {
      $('.formEdit input[name="verified"]').prop('checked', true)
    }

    $('.formEdit').on('submit', function (e) {
      e.preventDefault()

      if ($('#checkVerified').is(':checked')) {
        $('#checkVerified').val(true)
      } else {
        $('#checkVerified').val(false)
      }

      $.ajax({
        url: $(this).attr('action') + `${data.id}`,
        type: 'PUT',
        data: $(this).serialize(),
        success: function (result) {
          swal({
            title: 'Success!',
            text: 'User Updated',
            icon: 'success',
          }).then((result) => {
            window.location.href = '/admin/users'
          })
        },
        error: function (err) {
          swal({
            title: 'Error!',
            text: 'An error occured',
            icon: 'error'
          })
        }
      })
    })
  })

</script>