<section>
  <div class="bg-white rounded shadow-sm p-4 my-3">
    <div class="d-flex gap-3">
      <div class="position-relative">
        <span
          class="position-absolute top-0 start-0 translate-middle p-2 <%= (data.user.verified) ? 'bg-success' : 'bg-danger' %> border border-light rounded-circle">
          <span class="visually-hidden"></span>
        </span>
        <img class="rounded" src="https://www.kindpng.com/picc/m/451-4517876_default-profile-hd-png-download.png"
          alt="profile-picture" width="150">
      </div>

      <div class="col">
        <h5 id="userName"><span class="fw-bold">Full Name:</span>
          <%= data.user.full_name %>
        </h5>
        <h5 id="userEmail"><span class="fw-bold">Email:</span>
          <%= data.user.email %>
        </h5>
        <h5 id="userPhone"><span class="fw-bold">Phone Number:</span>
          <%= (data.user.phone_number) ? data.user.phone_number : 'None' %>
        </h5>
        <h5 id="address"><span class="fw-bold">Address:</span>
          <%= (data.user.address) ? data.user.address : 'None' %>
        </h5>
        <% const options={day: 'numeric' , month: 'long' , year: 'numeric' } %>
          <h5 id="userBirth"><span class="fw-bold">Birth Date:</span>
            <%= (data.user.birth_date) ? data.user.birth_date.toLocaleDateString('id-ID', options) : 'None' %>
          </h5>
      </div>
    </div>

    <div class="my-2">
      <h5 class="py-2 fw-bold text-center border">Products</h5>
      <% const lengthActive=data.user_products.active.length%>

        <ul class="nav nav-tabs nav-tabs-bordered">
          <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab"
              data-bs-target="#active">Active</button></li>
          <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#expired">Expired</button>
          </li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane fade profile-overview show active" id="active">
            <div class="my-3 d-flex gap-2 flex-wrap <%= (lengthActive < 3) ? '' : 'justify-content-evenly' %> ">
              <% if (lengthActive===0) { %>
                <p class="text-center w-100">No product active yet</p>
                <% } %>
                  <% for( let i=0; i < lengthActive; i++ ) { %>
                    <div class="card" style="width: 18rem;">
                      <img src="<%= data.user_products.active[i].Product.img_url%>" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">
                          <%= data.user_products.active[i].Product.name %>
                        </h5>
                        <p class="card-text">
                          Expired: <span class="text-success">
                            <%= data.user_products.active[i].expired_date.toLocaleDateString('id-ID') %>
                          </span>
                        </p>
                      </div>
                    </div>
                    <% } %>
            </div>
          </div>

          <% const lengthFinished=data.user_products.finished.length%>
            <div class="tab-pane fade profile-edit" id="expired">
              <div class="my-3 d-flex gap-2 flex-wrap <%= (lengthFinished < 3) ? '' : 'justify-content-evenly' %> ">
                <% if (lengthFinished===0) { %>
                  <p class="text-center w-100">No expired product yet</p>
                  <% } %>
                    <% for( let i=0; i < lengthFinished; i++ ) { %>
                      <div class="card" style="width: 18rem;">
                        <img src="<%= data.user_products.finished[i].Product.img_url%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= data.user_products.finished[i].Product.name %>
                          </h5>
                          <p class="card-text">
                            Expired: <span class="text-danger">
                              <%= data.user_products.finished[i].expired_date.toLocaleDateString('id-ID') %>
                            </span>
                          </p>
                        </div>
                      </div>
                      <% } %>
              </div>
            </div>
        </div>

    </div>

  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="formEdit" action="/admin/users/edit/<%= data.user.id %>">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input name="full_name" value="<%= data.user.full_name%>" type="text" class="form-control"
                placeholder="Name" autocomplete="off" required>
              <label>Full Name</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input id="checkVerified" name="verified" class="form-check-input" type="checkbox" <%=(data.user.verified)
                ? 'checked' : '' %> >
              <label class="form-check-label" for="checkVerified">Verified?</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-md btn-success">Update</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>

<script>
  $('#deleteBtn').on('click', function () {
    swal({
      title: "Are you sure?",
      text: '<%= data.user.full_name %> will be deleted', icon: "warning", buttons: true, dangerMode: true,
    }).then((confirm) => {
      if (confirm) {
        $.ajax({
          url: 'https://kodingapp.refillaja.id/admin/users/delete/<%= data.user.id %>',
          type: 'DELETE',
          success: function (result) {
            swal({
              title: 'Success!',
              text: 'User Deleted',
              icon: 'success',
            }).then((result) => {
              window.location.href = '/admin/users'
            })
          },
          error: function (err) {
            swal({
              title: 'Error!',
              text: 'An error occured',
              icon: 'error'
            })
          }
        })
      }
    })
  })

  $('#formEdit').on('submit', function (e) {
    e.preventDefault()
    if ($('#checkVerified').is(':checked')) {
      $('#checkVerified').val(true)
    } else {
      $('#checkVerified').val(false)
    }
    $.ajax({
      url: $(this).attr('action'),
      type: 'PUT',
      data: $(this).serialize(),
      success: function (result) {
        swal({
          title: 'Success!',
          text: 'User Updated',
          icon: 'success',
        }).then((result) => {
          window.location.href = '/admin/users/show/<%= data.user.id %>'
        })
      },
      error: function (err) {
        swal({
          title: 'Error!',
          text: 'An error occured',
          icon: 'error'
        })
      }
    })
  })

</script>