<style>
  .date-delete {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .2s;
  }

  .date-delete:hover {
    opacity: .8;
  }
</style>

<h3 class="fw-bold text-center">Edit Event</h3>

<div class="w-100 bg-white p-4 rounded shadow-sm">
  <form id="form" action="/admin/events/edit/<%= data.id %>" enctype="multipart/form-data">
    <input type="hidden" name="current_img" value="<%= data.img_url %>">
    <div class="modal-body">
      <!-- IMG -->
      <div class="d-flex mb-3 align-items-center gap-2 flex-wrap flex-column">
        <div class="col text-center">
          <img id="cover-img" src="<%= data.img_url %>" alt="Cover" width="130" onclick="window.open(this.src)"
            style="cursor: pointer;">
          <br><em class="text-danger" style="font-size: 13px;">*maksimal 1MB</em>
        </div>
        <div class="col-10">
          <input type="file" name="img" accept="image/*" class="form-control" onchange="previewImage(event)">
        </div>
      </div>

      <!-- NAME -->
      <div class="form-floating mb-3">
        <input type="text" value="<%= data.name %>" name="name" class="form-control" placeholder="Event"
          autocomplete="off" required>
        <label>Event Name</label>
      </div>

      <div class="d-flex align-items-center mb-1">
        <div class="col-2 text-center">
          <button id="addDate" type="button" class="btn btn-success btn-sm"> <i class="bi bi-plus-circle"></i> Add
            Date</button>
        </div>

        <!-- DATE -->
        <div class="col-8" id="dateList">
          <div class="form-floating mb-2">
            <input type="date" value="<%= data.event_dates[0].date.toISOString().substr(0, 10) %>" class="form-control"
              placeholder="Event" autocomplete="off" required>
            <label>Date</label>
          </div>
          <% for( let i=1; i < data.event_dates.length; i++ ) { %>
            <div class="form-floating mb-2 position-relative">
              <input value="<%= data.event_dates[i].date.toISOString().substr(0, 10) %>" type="date"
                class="form-control" placeholder="Event" autocomplete="off" required>
              <label>Date</label>
              <span class="date-delete" onclick="deleteDate()">
                <i class="bi bi-trash3 text-danger"></i>
              </span>
            </div>
            <% } %>
        </div>

      </div>

      <div class="d-flex">
        <!-- CATEGORY -->
        <input type="hidden" name="category_id" value="cat-event-1">
        <!-- PRICE -->
        <div class="form-floating mb-3 col">
          <input type="hidden" id="harga" name="price" value="<%= data.price %>">
          <input id="hargaDisplay" onkeyup="formatHarga(this.value)" type="text" class="form-control" placeholder="1"
            value="<%= data.price %>" autocomplete="off" required>
          <label>Price (Rp)</label>
        </div>
        <!-- QUOTA -->
        <div class="form-floating mb-3 col">
          <input type="number" value="<%= data.quota  %>" name="quota" class="form-control" placeholder="1" required>
          <label>Quota</label>
        </div>
      </div>
      <!-- DISCOUNT PRICE -->
      <div class="form-floating mb-3 promo" style="display: none;">
        <input id="discount" type="hidden" name="discount_price" value="<%= data.discount_price %>">
        <input id="discountDisplay" onkeyup="formatDiscount(this.value)" type="text" class="form-control"
          placeholder="1" value="<%= new Intl.NumberFormat('id-ID').format(data.discount_price) %>">
        <label>Discount Price</label>
      </div>

      <div class="d-flex gap-2 mb-3">
        <!-- DESCRIPTION -->
        <div class="col">
          <textarea name="description" id="editor" placeholder="Description"><%= data.description %></textarea>
        </div>
      </div>

    </div>

    <div class="mt-4 d-flex gap-2 modal-footer">
      <a href="/admin/events" class="btn btn-md btn-danger">Cancel</a>
      <button type="submit" class="btn btn-md btn-warning">Update</button>
    </div>
  </form>
</div>

<script>
  const editor = Jodit.make('#editor')

  $('#form').submit(function (e) {
    e.preventDefault()
    $('button[type="submit"]').prop('disabled', true)

    const dates = getInputDates()
    const formData = new FormData(this)
    formData.append('dates', JSON.stringify(dates))

    $.ajax({
      url: $(this).attr('action'),
      type: 'PUT',
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        swal({
          title: 'Success!',
          text: 'Event Added',
          icon: 'success',
        }).then((result) => {
          window.location.href = '/admin/events/show/<%= data.id %>'
        })
      },
      error: function (err) {
        swal({
          title: 'Error!',
          text: 'An error occured',
          icon: 'error'
        })
      }
    })
    $('button[type="submit"]').prop('disabled', false)
  })

  function formatHarga(harga) {
    const number = harga.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#hargaDisplay').val(formattedNumber)
    $('#harga').val($('#hargaDisplay').val().replace(/\./g, ''))
  }

  function formatDiscount(harga) {
    const number = harga.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#discountDisplay').val(formattedNumber)
    $('#discount').val($('#discountDisplay').val().replace(/\./g, ''))
  }

  function previewImage(event) {
    const file = event.target.files[0]
    const reader = new FileReader()
    if (file.size >= 1400000) {
      swal({
        title: 'Warning!',
        text: 'Ukuran file terlalu besar. Maksimal 1 MB',
        icon: 'warning'
      })
    }
    reader.onload = function () {
      $('#cover-img').attr('src', reader.result)
    }
    if (file) {
      reader.readAsDataURL(file)
    }
  }

  $('#addDate').on('click', function () {
    $('#dateList').append(`
    <div class="form-floating mb-2 position-relative">
      <input type="date" class="form-control" placeholder="Event" autocomplete="off" required>
      <label>Date</label>
      <span class="date-delete" onclick="deleteDate()">
        <i class="bi bi-trash3 text-danger"></i>
      </span>
    </div>
    `)
  })

  function deleteDate() {
    $(event.target).closest('.form-floating').remove()
  }

  function getInputDates() {
    const dates = []
    $("#dateList input[type='date']").each(function () {
      dates.push($(this).val())
    })
    return dates
  }

</script>