<style>
  #search-result div {
    position: relative;
    z-index: 99;
    cursor: pointer;
    transition: .3s;
    padding: 8px;
    border: #dddbdb;
  }

  #search-result div:hover {
    background-color: #dddbdb;
  }

  .close-btn {
    position: absolute;
    color: red;
    cursor: pointer;
    top: 72%;
    right: 30px;
    transform: translate(100%, -100%);
    transition: .3s;
  }

  .close-btn:hover {
    opacity: .8;
  }
</style>

<section class="section">

  <!-- UPDATE MODAL -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Coupon</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form class="formEdit" action="/admin/coupons">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" name="coupon_code" class="form-control" placeholder="John Doe" autocomplete="off"
                required>
              <label>Coupon Code</label>
            </div>
            <div class="d-flex mb-3">
              <div class="form-floating col">
                <input name="start_date" type="date" class="form-control" placeholder="date" autocomplete="off"
                  required>
                <label>Start Date</label>
              </div>
              <div class="form-floating col">
                <input name="end_date" type="date" class="form-control" placeholder="date" autocomplete="off" required>
                <label>End Date</label>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" name="quota" class="form-control" placeholder="John Doe" autocomplete="off" required>
              <label>Quota</label>
            </div>
            <div class="form-floating mb-3">
              <input type="hidden" id="discount" name="discount">
              <input name="discount_display" type="text" onkeyup="formatDiscount(this.value)" class="form-control"
                placeholder="John Doe" autocomplete="off" required>
              <label>Discount Price</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-md btn-success">Update</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- END UPDATE MODAL -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Coupons</h5>
          <button class="btn btn-sm btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="bi bi-file-earmark-text"></i>
            Add Coupon
          </button>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Coupon Code</th>
                <th>Quota</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.coupons.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= data.coupons[i].coupon_code %>
                  </td>
                  <td>
                    <%= data.coupons[i].quota %>
                  </td>
                  <td>
                    <div class="d-flex gap-2">
                      <a style="cursor: pointer;" class="text-primary"
                        href="/admin/coupons/show/<%= data.coupons[i].id %>" data-bs-toggle="tooltip"
                        data-bs-title="Show">
                        <i class="bi bi-info-circle-fill fs-5"></i>
                      </a>
                      <a style="cursor: pointer;" class="text-warning editBtn" data-bs-toggle="tooltip"
                        data-bs-title="Update" data-coupon="<%= JSON.stringify(data.coupons[i]) %>">
                        <i data-bs-toggle="modal" data-bs-target="#updateModal" class="bi bi-pencil-fill fs-5"></i>
                      </a>
                      <a style="cursor: pointer;" class="text-danger deleteBtn" data-bs-toggle="tooltip"
                        data-bs-title="Delete" data-coupon="<%= JSON.stringify(data.coupons[i]) %>">
                        <i class="bi bi-trash-fill fs-5"></i>
                      </a>
                    </div>

                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Coupon</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="formAdd" action="/admin/coupons" method="post">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" name="coupon_code" class="form-control" placeholder="John Doe" autocomplete="off"
                required>
              <label>Coupon Code</label>
            </div>
            <div class="d-flex mb-3">
              <div class="form-floating col">
                <input name="start_date" type="date" value="<%= new Date().toISOString().substr(0, 10) %>"
                  class="form-control" placeholder="date" autocomplete="off" required>
                <label>Start Date</label>
              </div>
              <div class="form-floating col">
                <input name="end_date" type="date" value="<%= new Date().toISOString().substr(0, 10) %>"
                  class="form-control" placeholder="date" autocomplete="off" required>
                <label>End Date</label>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" name="quota" class="form-control" placeholder="John Doe" autocomplete="off" required>
              <label>Quota</label>
            </div>
            <div class="form-floating mb-3">
              <input type="hidden" id="discount" name="discount">
              <input id="discountDisplay" type="text" onkeyup="formatDiscount(this.value)" class="form-control"
                placeholder="John Doe" autocomplete="off" required>
              <label>Discount Price</label>
            </div>
            <div>
              <p class="mb-2 mx-2">Products:</p>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input id="search-input" onkeyup=searchProduct(this.value) type="text" class="form-control"
                  placeholder="Search product..." aria-label="search" aria-describedby="basic-addon1">
              </div>
              <div id="search-result" class="my-3"></div>
              <ul id="product-list" class="list-group mb-3"></ul>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-md btn-success">Save</button>
            </div>
        </form>

      </div>
    </div>
  </div>
  <!-- End Add Modal -->


</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.6/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

<script>
  const list = []
  let selectedList = []

  "<% for(let i = 0; i < data.products.length; i++){ %>"
  list.push({ name: "<%= data.products[i].name %>", img_url: "<%= data.products[i].img_url %>" })
  "<% } %>"

  const fuse = new Fuse(list, {
    keys: ['name']
  })

  function searchProduct(value) {
    $('#search-result').html('')
    const result = fuse.search(value)
    result.map((r) => {
      if (!selectedList.includes(r.name.replace('&amp;', '&'))) {
        $('#search-result').append(
          `
          <div onclick=addProductList(this)>
            <img class="mx-2" src="${r.img_url}" width="50" height="50">
            <span>${(r.name.length > 40) ? r.name.substring(0, 40) + "..." : r.name}</span>
            <input type="hidden" value="${r.name}">
          </div>
        `)
      }
    })
  }

  function addProductList(div) {
    $('#search-result').html('')
    $('#search-input').val('')
    const productName = $(div).find('input').val()
    const productImg = $(div).find('img').attr('src')

    selectedList.push(productName)

    $('#product-list').append(`
      <li class="list-group-item">
        <input type="hidden" value="${productName}">
        <img src="${productImg}" width="50" height="50">
        <span>${(productName.length > 40) ? productName.substring(0, 40) + "..." : productName}</span>
        <span onclick=deleteItem() class="close-btn"><i class="bi bi-x-circle-fill fs-5"></i></span>
      </li>
    `)
  }

  function deleteItem() {
    const deletedItem = $(event.target).closest('.list-group-item').find('input').val()
    selectedList = selectedList.filter((s) => s !== deletedItem)
    $(event.target).closest('.list-group-item').remove()
  }

  function formatDiscount(discount) {
    const number = discount.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#discountDisplay').val(formattedNumber)
    $('#discount').val($('#discountDisplay').val().replace(/\./g, ''))
  }

  $('.editBtn').on('click', function () {
    $('.formEdit').off('submit')
    const data = $(this).data('coupon')

    $('.formEdit input[name="coupon_code"]').val(data.coupon_code)
    $('.formEdit input[name="discount"]').val(data.discount)
    $('.formEdit input[name="quota"]').val(data.quota)
    $('.formEdit input[name="start_date"]').val(new Date(data.coupon_start).toISOString().substr(0, 10))
    $('.formEdit input[name="end_date"]').val(new Date(data.coupon_end).toISOString().substr(0, 10))
    $('.formEdit input[name="discount_display"]').val(new Intl.NumberFormat('id-ID').format(data.discount))

    $('.formEdit').on('submit', function (e) {
      e.preventDefault()

      $.ajax({
        url: $(this).attr('action') + `${data.id}`,
        type: 'PUT',
        data: $(this).serialize(),
        success: function (result) {
          swal({
            title: 'Success!',
            text: 'Coupon Updated',
            icon: 'success',
          }).then((result) => {
            window.location.href = '/admin/coupons'
          })
        },
        error: function (err) {
          swal({
            title: 'Error!',
            text: 'An error occured',
            icon: 'error'
          })
        }
      })
    })
  })

  $('#formAdd').submit(function (e) {
    e.preventDefault()
    $('button[type="submit"]').prop('disabled', true)
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: $(this).serialize(),
      success: function (response) {
        swal({
          title: 'Success!',
          text: 'Coupon Added',
          icon: 'success',
        }).then((result) => {
          window.location.href = '/admin/coupons'
        })
      },
      error: function (err) {
        swal({
          title: 'Error!',
          text: 'An error occured',
          icon: 'error'
        })
      }
    })
    $('button[type="submit"]').prop('disabled', false)
  })

  $('.deleteBtn').on('click', function () {
    const data = $(this).data('coupon')
    swal({
      title: "Are you sure?",
      text: `${data.coupon_code} will be deleted`, icon: "warning", buttons: true, dangerMode: true,
    }).then((confirm) => {
      if (confirm) {
        $.ajax({
          url: `http://localhost:3000/admin/coupons/delete/${data.id}`,
          type: 'DELETE',
          success: function (result) {
            swal({
              title: 'Success!',
              text: 'Coupon Deleted',
              icon: 'success',
            }).then((result) => {
              window.location.href = '/admin/coupons'
            })
          },
          error: function (err) {
            swal({
              title: 'Error!',
              text: 'An error occured',
              icon: 'error'
            })
          }
        })
      }
    })
  })

</script>