<style>
  #search-result div {
    position: relative;
    z-index: 99;
    cursor: pointer;
    transition: .3s;
    padding: 8px;
    border: #dddbdb;
  }

  #search-result div:hover {
    background-color: #dddbdb;
  }

  .close-btn {
    position: absolute;
    color: red;
    cursor: pointer;
    top: 72%;
    right: 30px;
    transform: translate(100%, -100%);
    transition: .3s;
  }

  .close-btn:hover {
    opacity: .8;
  }
</style>

<section class="section">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Coupons</h5>
          <button class="btn btn-sm btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="bi bi-file-earmark-text"></i>
            Add Coupon
          </button>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Coupon Code</th>
                <th>Quota</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.coupons.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= data.coupons[i].coupon_code %>
                  </td>
                  <td>
                    <%= data.coupons[i].quota %>
                  </td>
                  <td><a href="/admin/coupons/show/<%= data.coupons[i].id %>">Show</a></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Coupon</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form" action="/admin/coupons" method="post">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" name="coupon_code" class="form-control" placeholder="John Doe" autocomplete="off"
                required>
              <label>Coupon Code</label>
            </div>
            <div class="d-flex mb-3">
              <div class="form-floating col">
                <input name="start_date" type="date" value="<%= new Date().toISOString().substr(0, 10) %>"
                  class="form-control" placeholder="date" autocomplete="off" required>
                <label>Start Date</label>
              </div>
              <div class="form-floating col">
                <input name="end_date" type="date" value="<%= new Date().toISOString().substr(0, 10) %>"
                  class="form-control" placeholder="date" autocomplete="off" required>
                <label>End Date</label>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" name="quota" class="form-control" placeholder="John Doe" autocomplete="off" required>
              <label>Quota</label>
            </div>
            <div class="form-floating mb-3">
              <input type="hidden" id="discount" name="discount">
              <input id="discountDisplay" type="text" onkeyup="formatDiscount(this.value)" class="form-control"
                placeholder="John Doe" autocomplete="off" required>
              <label>Discount Price</label>
            </div>
            <div class="form-floating mb-3">
              <input type="hidden" id="price" name="minimum_price">
              <input id="priceDisplay" type="text" onkeyup="formatMinimumPrice(this.value)" class="form-control"
                placeholder="John Doe" autocomplete="off" required>
              <label>Minimum Price</label>
            </div>
            <div>
              <p class="mb-2 mx-2">Products:</p>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input id="search-input" onkeyup=searchProduct(this.value) type="text" class="form-control"
                  placeholder="Search product..." aria-label="search" aria-describedby="basic-addon1">
              </div>
              <div id="search-result" class="my-3"></div>
              <ul id="product-list" class="list-group mb-3"></ul>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-md btn-success">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Add Modal -->

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.6/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

<script>
  const list = []
  let selectedList = []

  "<% for(let i = 0; i < data.products.length; i++){ %>"
  list.push({ name: "<%= data.products[i].name %>", img_url: "<%= data.products[i].img_url %>" })
  "<% } %>"

  const fuse = new Fuse(list, {
    keys: ['name']
  })

  function searchProduct(value) {
    $('#search-result').html('')
    const result = fuse.search(value)
    result.map((r) => {
      if (!selectedList.includes(r.name)) {
        $('#search-result').append(
          `
          <div onclick=addProductList(this)>
            <img class="mx-2" src="${r.img_url}" width="50" height="50">
            <span>${(r.name.length > 40) ? r.name.substring(0, 40) + "..." : r.name}</span>
            <input type="hidden" value="${r.name}">
          </div>
        `)
      }
    })
  }

  function addProductList(div) {
    $('#search-result').html('')
    $('#search-input').val('')
    const productName = $(div).find('input').val()
    const productImg = $(div).find('img').attr('src')

    selectedList.push(productName)

    $('#product-list').append(`
      <li class="list-group-item">
        <input type="hidden" value="${productName}">
        <img src="${productImg}" width="50" height="50">
        <span>${(productName.length > 40) ? productName.substring(0, 40) + "..." : productName}</span>
        <span onclick=deleteItem() class="close-btn"><i class="bi bi-x-circle-fill fs-5"></i></span>
      </li>
    `)
  }

  function deleteItem() {
    const deletedItem = $(event.target).closest('.list-group-item').find('input').val()
    selectedList = selectedList.filter((s) => s !== deletedItem)
    $(event.target).closest('.list-group-item').remove()
  }

  function formatDiscount(discount) {
    const number = discount.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#discountDisplay').val(formattedNumber)
    $('#discount').val($('#discountDisplay').val().replace(/\./g, ''))
  }

  function formatMinimumPrice(price) {
    const number = price.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#priceDisplay').val(formattedNumber)
    $('#price').val($('#priceDisplay').val().replace(/\./g, ''))
  }
</script>