<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.24.7/jodit.min.css" />

<h3 class="fw-bold text-center">Edit Course</h3>

<div class="w-100 bg-white p-4 rounded shadow-sm">
  <form id="form" action="/admin/courses/edit/:<%= data.id  %>" enctype="multipart/form-data">
    <div class="modal-body">

      <!-- IMG -->
      <div class="d-flex mb-3 align-items-center">
        <div class="col-2">
          <img id="cover-img" src="<%= data.img_url %>" alt="Cover" width="100" onclick="window.open(this.src)"
            style="cursor: pointer;">
        </div>
        <div class="col">
          <input type="file" name="img" accept="image/*" class="form-control" onchange="previewImage(event)">
        </div>
      </div>

      <!-- NAME -->
      <div class="form-floating mb-3">
        <input type="text" value="<%= data.name  %>" name="name" class="form-control" placeholder="Course"
          autocomplete="off" required>
        <label>Course Name</label>
      </div>

      <div class="d-flex">
        <!-- CATEGORY -->
        <div class="form-floating col-4">
          <select name="category_id" class="form-select" id="floatingSelectDisabled"
            aria-label="Floating label disabled select example">
            <% const categories=['Coding', 'App Programming' , 'Engineering' , 'Coding Bootcamp' , 'Robotic' ] %>
              <% if (categories.includes(data.category.name)) { %>
                <option value="<%= data.category_id %>" selected>
                  <%= data.category.name %>
                </option>
                <% } %>
                  <% categories.forEach((category)=> {
                    if (category !== data.category.name) { %>
                    <option value="cat-course-<%= categories.indexOf(category) + 1 %>">
                      <%= category %>
                    </option>
                    <% } }) %>
          </select>
          <label for="floatingSelectDisabled">Category</label>
        </div>
        <!-- QUOTA -->
        <div class="form-floating mb-3 col-4">
          <input type="number" value="<%= data.quota  %>" name="quota" class="form-control" placeholder="1" required>
          <label>Quota</label>
        </div>
        <!-- DURATION -->
        <div class="form-floating mb-3 col-4">
          <input type="number" value="<%= data.duration  %>" name="duration" class="form-control" placeholder="1"
            required>
          <label>Duration (Month)</label>
        </div>
      </div>
      <!-- PRICE -->
      <div class="form-floating mb-3">
        <input type="hidden" id="harga" name="price" value="<%= data.price  %>">
        <input id="hargaDisplay" onkeyup="formatHarga(this.value)" type="text" class="form-control" placeholder="1"
          value="<%= new Intl.NumberFormat('id-ID').format(data.price) %>" autocomplete="off" required>
        <label>Price</label>
      </div>

      <div class="form-check form-check-inline mb-3">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Promo?</label>
      </div>

      <!-- DISCOUNT PRICE -->
      <div class="form-floating mb-3 promo" style="display: none;">
        <input id="discount" type="hidden" name="discount_price" value="<%= data.discount_price %>">
        <input id="discountDisplay" onkeyup="formatDiscount(this.value)" type="text" class="form-control"
          placeholder="1" value="<%= new Intl.NumberFormat('id-ID').format(data.discount_price) %>">
        <label>Discount Price</label>
      </div>

      <div class="d-flex gap-2 mb-3">
        <!-- DESCRIPTION -->
        <div class="form-floating col-5">
          <textarea name="description" class="form-control" placeholder="Description" id="floatingTextarea2Disabled"
            style="height: 200px; resize: none;"><%= data.description  %></textarea>
          <label for="floatingTextarea2Disabled">Description</label>
        </div>
        <!-- REQUIREMENT -->
        <div class="col">
          <textarea name="requirement" id="editor" placeholder="Requirement"><%= data.requirement %></textarea>
        </div>
      </div>

    </div>

    <div class="mt-4 d-flex gap-2 modal-footer">
      <a href="/admin/courses" class="btn btn-md btn-danger">Cancel</a>
      <button type="submit" class="btn btn-md btn-success">Save</button>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.24.7/jodit.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  const editor = Jodit.make('#editor')

  $(document).ready(function () {

    if ("<%= data.discount_price %>") {
      $('#inlineCheckbox1').prop('checked', true)
      $('.promo').show()
    }

    $('#inlineCheckbox1').on('change', function () {
      if ($('#inlineCheckbox1').prop('checked')) {
        $('.promo').show()
        $('#discountDisplay').prop('required', true)
      } else {
        $('.promo').hide()
        $('#discount').val(null)
        $('#discountDisplay').prop('required', false)
      }
    })

    $('#form').submit(function (e) {
      e.preventDefault()
      $('button[type="submit"]').prop('disabled', true)
      const formData = new FormData(this);
      $.ajax({
        url: $(this).attr('action'),
        type: 'PUT',
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          swal({
            title: 'Success!',
            text: 'Course Updated',
            icon: 'success',
          }).then((result) => {
            window.location.href = '/admin/courses'
          })
        },
        error: function (err) {
          swal({
            title: 'Error!',
            text: 'An error occured',
            icon: 'error'
          })
        }
      })
      $('button[type="submit"]').prop('disabled', false)
    })

  })

  function formatHarga(harga) {
    const number = harga.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#hargaDisplay').val(formattedNumber)
    $('#harga').val($('#hargaDisplay').val().replace(/\./g, ''))
  }

  function formatDiscount(harga) {
    const number = harga.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#discountDisplay').val(formattedNumber)
    $('#discount').val($('#discountDisplay').val().replace(/\./g, ''))
  }

  function previewImage(event) {
    const file = event.target.files[0]
    const reader = new FileReader()
    reader.onload = function () {
      $('#cover-img').attr('src', reader.result)
    }
    if (file) reader.readAsDataURL(file)
  }
</script>