<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Courses</h5>
          <a href="/admin/courses/add" class="btn btn-sm btn-success mb-3">
            <i class="bi bi-journal-plus"></i>
            Add Course
          </a>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Course Name</th>
                <th>Price</th>
                <th>Quota</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= data[i].name %>
                  </td>
                  <% if (data[i].discount_price) { %>
                    <td>
                      Rp <%= new Intl.NumberFormat('id-ID').format(data[i].discount_price) %>
                    </td>
                    <% }else{ %>
                      <td>
                        Rp <%= new Intl.NumberFormat('id-ID').format(data[i].price) %>
                      </td>
                      <% } %>
                        <td>
                          <span class="text-danger">
                            <%= (data[i].participants) ? data[i].participants : 0 %>
                          </span>/<span class="text-success">
                            <%= data[i].quota %>
                          </span>
                        </td>
                        <td>
                          <div class="d-flex gap-2">
                            <a style="cursor: pointer;" class="text-primary"
                              href="/admin/courses/show/<%= data[i].id %>" data-bs-toggle="tooltip"
                              data-bs-title="Show">
                              <i class="bi bi-info-circle-fill fs-5"></i>
                            </a>
                            <a href="/admin/courses/edit/<%= data[i].id %>" style="cursor: pointer;"
                              class="text-warning editBtn" data-bs-toggle="tooltip" data-bs-title="Update">
                              <i data-bs-toggle="modal" data-bs-target="#updateModal"
                                class="bi bi-pencil-fill fs-5"></i>
                            </a>
                            <a style="cursor: pointer;" class="text-danger deleteBtn" data-bs-toggle="tooltip"
                              data-bs-title="Delete" data-course="<%= JSON.stringify(data[i]) %>">
                              <i class="bi bi-trash-fill fs-5"></i>
                            </a>
                          </div>
                        </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('.deleteBtn').on('click', function () {
    const data = $(this).data('course')
    swal({
      title: "Are you sure?",
      text: `${data.name} will be deleted`,
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((confirm) => {
        if (confirm) {
          $.ajax({
            url: `http://localhost:3000/admin/courses/delete/${data.id}`,
            type: 'DELETE',
            success: function (result) {
              swal({
                title: 'Success!',
                text: 'Course Deleted',
                icon: 'success',
              }).then((result) => {
                window.location.href = '/admin/courses'
              })
            },
            error: function (err) {
              swal({
                title: 'Error!',
                text: 'An error occured',
                icon: 'error'
              })
            }
          })
        }
      })
  })
</script>