<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Courses</h5>
          <a href="/admin/courses/add" class="btn btn-sm btn-success mb-3">
            <i class="bi bi-journal-plus"></i>
            Add Course
          </a>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quota</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= data[i].name %>
                  </td>
                  <% if (data[i].discount_price) { %>
                    <td>
                      Rp <%= new Intl.NumberFormat('id-ID').format(data[i].discount_price) %>
                    </td>
                    <% }else{ %>
                      <td>
                        Rp <%= new Intl.NumberFormat('id-ID').format(data[i].price) %>
                      </td>
                      <% } %>
                        <td>
                          <%= data[i].quota %>
                        </td>
                        <td>
                          <a href="/admin/courses/show/<%= data[i].id %>">Show</a> |
                          <a href="/admin/courses/edit/<%= data[i].id %>">Edit</a>
                        </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

  $(document).ready(function () {
    $('#myTable').DataTable()
  })

</script>