<section class="bg-white rounded shadow-sm">
  <div class="d-flex gap-2 px-4 pt-4 pb-2">
    <div class="">
      <h4 class="fw-bold">
        <%= data.name %>
      </h4>
    </div>
    <div class="d-flex gap-2 ms-auto">
      <button id="deleteBtn" class="btn btn-danger btn-sm">
        <i class="bi bi-trash"></i>
        Delete
      </button>
      <a href="/admin/courses/edit/<%= data.id %>" class="btn btn-warning btn-sm">
        <div class="h-100 gap-1 d-flex align-items-center">
          <i class="bi bi-pencil-square"></i>
          Edit
        </div>
      </a>
    </div>
  </div>

  <div class="px-4 py-2 gap-2">
    <div class="d-flex gap-4">
      <img src="<%= data.img_url %>" alt="picture" width="300">
    </div>
  </div>

  <div class="px-4 pb-4 mt-2">
    <h5><span class="fw-bold">Category:</span>
      <%= data.category.name %>
    </h5>
    <h5 class="fw-bold">Quota: <span class="text-danger">
        <% if (data.participants) { %>
          <%= data.participants %>
            <% }else{ %>
              0
              <% } %>
      </span> / <span class="text-success">
        <%= data.quota %>
      </span>
    </h5>
    <h5><span class="fw-bold">Price:</span>
      Rp <%= new Intl.NumberFormat('id-ID').format(data.price) %>
    </h5>
    <% if (data.discount_price) { %>
      <h5><span class="fw-bold">Discount Price:</span>
        Rp <%= new Intl.NumberFormat('id-ID').format(data.discount_price) %>
      </h5>
      <% }else{ %>
        <h5><span class="fw-bold">Discount Price:</span>
          None
        </h5>
        <% } %>
          <div class="accordion mt-3">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <span class="fw-bold">Description</span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= data.description %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="fw-bold">Requirement</span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%- data.requirement %>
                </div>
              </div>
            </div>
          </div>
  </div>

</section>

<script>
  $('#deleteBtn').on('click', () => {
    swal({
      title: "Are you sure?",
      text: '<%= data.name %> will be deleted',
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((confirm) => {
        if (confirm) {
          $.ajax({
            url: 'http://localhost:3000/admin/courses/delete/<%= data.id %>',
            type: 'DELETE',
            success: function (result) {
              swal({
                title: 'Success!',
                text: 'Course Deleted',
                icon: 'success',
              }).then((result) => {
                window.location.href = '/admin/courses'
              })
            },
            error: function (err) {
              swal({
                title: 'Error!',
                text: 'An error occured',
                icon: 'error'
              })
            }
          })
        }
      })

  })
</script>